[submodule "research-core"]
	path = research-core
	url = git@github.com:AppliedNeuron/research-core.git
[submodule "third_party/alpamayo1.5"]
	path = third_party/alpamayo1.5
	url = https://github.com/NVlabs/alpamayo1.5.git
